/* OBECNÁ NASTAVENÍ */
.outerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.innerBox {
  width: 80%;
}


/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */




/* FIRST SECTION - HEADER */
.header {
  height: auto;
  position: fixed;
  background-color:  rgba(20, 59, 83, 0.8);
  z-index: 3;
}

.header .innerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

#logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: var(--space-m);
  margin-bottom: var(--space-s);
  box-shadow: var(--main-shadow);
  z-index: 1;
}

#logo:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 20px;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: var(--space-s2);
  margin-bottom: 0;
}

.header ul li {
  list-style: none;
  color: var(--second-color);
  font-family: var(--main-font);
  font-size: var(--size-m);
  margin-left: var(--space-xxl);
}

.header ul li a {
  text-decoration: none;
  color: var(--second-color);
  padding-bottom: var(--space-xs);
}

.header ul li a:hover {
  cursor: pointer;
  color: var(--third-color);
  border-bottom: 1px solid var(--third-color);
}


/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */





/* SECOND SECTION - ABOUT US */
.aboutUs {
  height: auto;
  background-color: var(--main-color);
  padding-top: calc(var(--space-l) * 3);
}


.aboutUs .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.aboutUs h1 {
  font-family: var(--heading-font);
  color: var(--third-color);
  font-size: var(--size-xxxl);
  margin-bottom: var(--space-xs2);
}

.aboutUs span {
  color: white;
  font-family: var(--main-font);
  font-size: var(--size-s2);
  margin-bottom: var(--space-xxl);
  font-weight: 300;
  text-align: center;
}

.aboutUs .oNas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aboutUs .oNas .carouselSection {
  width: 40%;
}

.aboutUs .oNas .povidani {
  width: 60%;
  color: var(--second-color);
  font-size: var(--size-m);
  font-family: var(--main-font);
}

#dots1 {
  position: absolute;
  top: 200px;
  right: -30px;
  display: none;
}

#dots2 {
  position: absolute;
  top: 150px;
  left: -270px;
  display: none;
}

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */


/* THIRD SECTION - NABÍDKA */
.nabidka {
  height: auto;
  background-color: var(--third-color);
  padding-bottom: var(--space-l);
  position: relative;
}

.nabidka .innerBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.nabidka h2 {
  width: 100%;
  text-align: right;
  position: absolute;
  top: -40px;
  font-size: var(--size-xl);
  font-family: var(--main-font);
}

.nabidka .nabidkaGrid {
  width: 100%;
  margin-top: var(--space-m);
  display: grid;
  grid-template-areas:
  "kava kava caj caj"
  "kava kava caj caj"
  "kava kava caj caj"
  "kava kava limo limo"
  "jidlo jidlo limo limo"
  "jidlo jidlo limo limo";
}

.menu {
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 16px;
  padding: var(--space-s) var(--space-s) var(--space-xs) var(--space-s);
  box-sizing: border-box;
}

.menu h3 {
  font-family: var(--main-font);
  font-size: var(--size-l);
  margin-bottom: var(--space-s);
  text-align: center;
}
.menu .columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  font-size: var(--size-s2);
  font-family: var(--main-font);
}

.menu .leftColumn {
  width: 70%;
  text-align: left;
}

.menu .rightColumn {
  width: 30%;
  text-align: right;
}

.leftColumn ul {
  padding-left: var(--space-xs2);
}

.leftColumn ul li {
  padding-bottom: var(--space-xs);
}

.rightColumn ul li {
  list-style: none;
  padding-bottom: var(--space-xs);
}

.nabidka .kava {
  grid-area: kava;
  margin: 0 var(--space-m) var(--space-m) 0;
}

.nabidka .caj {
  grid-area: caj;
  margin: 0 0 var(--space-m) 0;
}

.nabidka .jidlo {
  grid-area: jidlo;
  margin: 0 var(--space-m) var(--space-m) 0;
  padding-bottom: var(--space-s);
}

.nabidka .jidlo p {
  font-size: var(--size-s2);
  font-family: var(--main-font);
  text-align: center;
}

.nabidka .limonady {
  grid-area: limo;
  margin: 0 0 var(--space-m) 0;
}


/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */



/* FOURTH SECTION - CONTACT */
.contact {
  height: auto;
  background-color: var(--second-color);
  padding-top: var(--space-xxl);
}

.contact h2 {
  text-align: center;
  font-family: var(--main-font);
  font-size: var(--size-xl);
}

.contact .contactPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xxxl);
}

.contact .contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-right: var(--space-xxxl);
  font-family: var(--main-font);
  font-size: var(--size-s2);
}

.contactInfo h4 {
  font-size: var(--size-m);
  font-weight: 700;
  margin-bottom: var(--size-xs);
}

.contactInfo .adresa {
  margin-bottom: var(--space-s);
}

.contact .oteviracka {
  margin-bottom: var(--space-s);
}

.contactInfo .contactLinks .muiLinks {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.iconka {
  transition: all 0.2s ease-in-out;
  color: black;
  margin-right: var(--space-xs);
}

.iconka:hover {
  cursor: pointer;
  color: var(--main-color);
  transform: scale(1.1);
}

.contactPage .contactMap {
  margin-left: var(--space-xxxl);
}


/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */



/* LAST SECTION - FOOTER */
.footer {
  height: auto;
  background-color: var(--second-color);
}

.footer .innerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: var(--size-xxs);
  color: black;
  padding: var(--space-xs);
  transition: all 0.2s ease-in-out;
}

.footer a {
  text-decoration: none;
}

.footer p:hover {
  color: var(--main-color);
  transform: scale(1.1);
}






/* RESPONSIVITY */
/* Větší obrazovky */
@media only screen and (min-width: 1600px) {
  .aboutUs h1 {
    font-size: calc(var(--size-m) * 3);
    margin-top: var(--space-m);
  }

  .aboutUs span {
    margin-bottom: var(--space-xxxl);
  }

  .aboutUs .oNas .povidani {
    font-size: var(--size-l);
  }

  .aboutUs span {
    font-size: var(--size-m);
  }

  .header ul li {
    font-size: var(--size-l);
  }

  .nabidka h2,
  .contact h2 {
    font-size: var(--size-xxl);
  }

  .menu h3 {
    font-size: var(--size-xl);
  }

  .menu .columns,
  .nabidka .jidlo p {
    font-size: var(--size-m);
  }

  .contact .contactInfo {
    font-size: var(--size-m);
  }

  .contact h4 {
    font-size: var(--size-l);
  }

  .footer p {
    font-size: var(--size-xs);
  }
}

@media only screen and (min-width: 2000px) {
  #dots1,
  #dots2 {
    display: block;
  }
  .innerBox {
    width: 70%;
  }

  .header .innerBox {
    width: 85%;
  }
}

@media only screen and (min-width: 2200px) {
  .innerBox {
    width: 65%;
  }

  .header .innerBox {
    width: 80%;
  }
}

@media only screen and (min-width: 2400px) {
  .innerBox {
    width: 60%;
  }

  .header .innerBox {
    width: 75%;
  }
}

@media only screen and (min-width: 2600px) {
  .innerBox {
    width: 55%;
  }

  .header .innerBox {
    width: 70%;
  }
}






/* Menší obrazovky */
@media only screen and (max-width: 1400px) {
  .aboutUs .oNas .povidani {
    font-size: var(--size-s2);
    margin-left: var(--space-m);
  }

  .aboutUs span {
    font-size: var(--size-s);
  }

  .menu .columns,
  .nabidka .jidlo p {
    font-size: var(--size-s);
  }
}

@media only screen and (max-width: 1300px) {
  .nabidka .nabidkaGrid {
    width: 70%;
    grid-template-areas:
    "kava"
    "caj"
    "limo"
    "jidlo";
  }

  .nabidka .kava {
    margin-right: 0;
  }

  .nabidka .jidlo {
    margin-right: 0;
  }

  .contactPage .contactInfo {
    margin-right: var(--space-xl);
  }

  .contactPage .contactMap {
    margin-left: var(--space-xl);
  }
}

@media only screen and (max-width: 1200px) {
  .contact .contactPage {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .contactPage .contactMap {
    order: -1;
    margin-bottom: var(--space-xxxl);
    margin-left: 0;
  }

  .contactPage .contactInfo {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }

  .adresa, .oteviracka, .contactLinks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

@media only screen and (max-width: 1100px) {
  /* HEADER */
  .header .innerBox ul {
    display: none;
  }

  .header {
    background-color: transparent;
  }

  .aboutUs .oNas {
    flex-direction: column;
    justify-content: start;
  }

  .aboutUs .oNas .povidani {
    width: 100%;
    order: -1;
    margin-bottom: var(--space-xl);
    margin-left: 0;
    text-align: center;
  }

  .aboutUs .oNas .carouselSection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-l);
  }
}

@media only screen and (max-width: 900px) {
  .aboutUs h1 {
    margin-top: var(--space-m);
  }

  .nabidka .nabidkaGrid {
    width: 100%;
  }

  .contactPage .contactInfo {
    width: 100%;
    font-size: var(--size-s);
  }
}

@media only screen and (max-width: 700px) {
  .contactPage .contactInfo {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .adresa,
  .oteviracka {
    margin-bottom: var(--space-xl);
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 50px;
    height: 50px;
  }

  .header .innerBox {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }

  .aboutUs h1 {
    font-size: var(--size-xl);
    margin-top: var(--space-xs);
  }

  .aboutUs .oNas .povidani {
    font-size: var(--size-s);
  }

  .aboutUs span {
    font-size: var(--size-xs);
  }

  .menu h3 {
    font-size: var(--size-m);
  }

  .menu .columns,
  .nabidka .jidlo p {
    font-size: var(--size-xs);
  }

  .nabidka h2,
  .contact h2 {
    font-size: var(--size-l);
  }

}

@media only screen and (max-width: 500px) {
  .header .innerBox {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }

  .aboutUs h1 {
    font-size: var(--size-l);
  }
  
  .aboutUs .oNas .povidani {
    font-size: var(--size-xs);
  }

  .aboutUs span {
    font-size: calc(var(--size-xxl) / 3);
  }

  .menu .leftColumn {
    width: 75%;
  }
  
  .menu .rightColumn {
    width: 25%;
  }

  .contactPage .contactMap {
    margin-bottom: var(--space-xl);
  }
}

@media only screen and (max-width: 400px) {
  .innerBox {
    width: 85%;
  }

  #logo {
    width: 40px;
    height: 40px;
    margin-top: var(--space-l);
    margin-bottom: 0;
  }

  .header .innerBox {
    padding-left: var(--space-s);
    padding-right: var(--space-s);
  }

  .aboutUs {
    padding-top: calc(var(--space-m) * 3);
  }

  .aboutUs h1 {
    font-size: var(--size-m);
  }

  .aboutUs span {
    margin-bottom: var(--space-m);
  }

  .aboutUs .oNas .povidani {
    margin-bottom: var(--space-m);
  }

  .menu {
    padding: var(--space-s) var(--space-s) 0 var(--space-s);
  }

  .menu .leftColumn {
    width: 72%;
  }

  .menu .rightColumn {
    width: 28%;
  }

  .menu .leftColumn ul {
    list-style: none;
    padding-left: 0;
  }

  .nabidka h2,
  .contact h2 {
    font-size: var(--size-m);
  }

  .contact .contactPage {
    margin-bottom: var(--space-xl);
  }

  .contactPage .contactMap {
    margin-bottom: var(--space-l);
  }
  .contactPage .contactInfo {
    font-size: var(--size-xs);
  }

  .contactInfo h4 {
    font-size: var(--size-s2);
  }
}

@media only screen and (max-width: 330px) {
  .innerBox {
    width: 90%;
  }

  .menu {
    padding: var(--space-s) var(--space-xs) 0 var(--space-xs);
  }
}

