@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }
  
  .shake:hover {
    animation: shake 0.5s infinite;
    cursor: pointer;
  }

  .mocha {
    transform: rotate(10deg);
  }

  .pytel {
    transform: rotate(-8deg);
  }



  @media only screen and (max-width: 1300px) {
    .beans {
        top: -5% !important;
    }

    .mocha {
        top: 90% !important;
        left: 70% !important;
    }
  }

  @media only screen and (max-width: 800px) {
    .beans {
        width: 60px !important;
        height: 60px !important;
        left: 50% !important;
    }

    .pytel {
        width: 80px !important;
        height: 80px !important;
    }

    .mocha {
        width: 100px !important;
        height: 100px !important;
    }
  }

  @media only screen and (max-width: 500px) {
    .beans {
        width: 40px !important;
        height: 40px !important;
        left: 40% !important;
        top: -4% !important;
    }

    .pytel {
        width: 60px !important;
        height: 60px !important;
    }

    .mocha {
        width: 80px !important;
        height: 80px !important;
    }
  }

